<div class="card">
  <h5 class="card-header">{{ aircraft.name }}</h5>
  <div class="card-body">
    <p class="card-text">
      <strong>Weight Points:</strong> {{ aircraft.weightPoints }}
    </p>
    <p class="card-text">
      <strong>Ordnance Total:</strong> {{ ordnanceTotal }}
    </p>
    <p class="card-text">
      <strong>Special Ops Points:</strong> {{ specialOpsPoints }}
    </p>
    <app-loading-indicator
      *ngIf="loadingWeapons"
      [loadingText]="'Loading Weapons...'"
    ></app-loading-indicator>
    <form
      [formGroup]="addWeaponForm"
      (ngSubmit)="onWeaponToAddSubmit()"
      *ngIf="!loadingWeapons"
      class="form-inline mb-3"
    >
      <select class="custom-select ml-1 mr-1" formControlName="weaponToAdd">
        <option *ngFor="let weapon of weapons" [ngValue]="weapon">{{
          weapon.name
        }}</option>
      </select>
      <button
        type="submit"
        [disabled]="addWeaponDisabled"
        class="btn btn-primary"
      >
        Add Weapon
      </button>
    </form>
    <ul class="list-group weapon-list">
      <li *ngFor="let weapon of selectedWeapons" class="list-group-item">
        {{ weapon.name }}
        <a class="text-danger" href="#"
          ><strong><i class="fa fa-trash" aria-hidden="true"></i></strong
        ></a>
      </li>
    </ul>
  </div>
</div>
