<div class="container">
  <app-loading-indicator [loadingText]="'Loading Aircrafts...'" *ngIf="loadingAircrafts"></app-loading-indicator>
  <div class="row mb-4" *ngIf="!loadingAircrafts">
    <div class="col-md-12">
      <form [formGroup]="addAircraftForm" (ngSubmit)="onAircraftToAddSubmit()" class="form-inline">
        <label for="">Aircraft:</label>
        <select class="custom-select ml-1" formControlName="aircraftToAdd">
          <option *ngFor="let aircraft of aircrafts" [ngValue]="aircraft">{{aircraft.name}}</option>
        </select>
        <button type="submit" class="btn btn-primary ml-2">Add Aircraft</button>
      </form>
    </div>
  </div>
  <app-selected-aircraft-list *ngIf="!loadingAircrafts" [selectedAircraft]="selectedAircraft"></app-selected-aircraft-list>
</div>